@charset "utf-8";
/*CSS Document*/

/*reset*/
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0;  }
em { font-style:normal; }
li { list-style:none;text-indent: 0; }
a { text-decoration:none; color: black; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; }
/* end reset */

/*public*/
.fl{ float: left;}
.fr{float:right;}
.clear{zoom:1;}
.clear:after{content:"" ; display:block; clear:both;}
.gradient{
    background: -moz-linear-gradient(top,#ffffff,#f8f8f8); /* Firefox */
    background: -webkit-linear-gradient(top,#ffffff,#f8f8f8);   /* Chrome */
    background: -ms-linear-gradient(top,#ffffff,#f8f8f8);  /* IE10以上 */
    background: linear-gradient(top,#ffffff,#f8f8f8);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)"; /* IE8.9 */
    +background:#f9f9f9; /* hack 方法，IE6,7 纯色*/
}
.triangle_up, .triangle_down_red, .triangle_down_gray{position: absolute; height: 0; width: 0; border-left: 4px solid transparent; border-right: 4px solid transparent; }
.triangle_up {border-bottom: 4px solid #ca0309;}
.triangle_down_red{border-top: 4px solid #ca0309;}
.triangle_down_gray {border-top: 4px solid #c4bdbd;}

.the_title h4{ font-size: 12px; height: 38px; line-height:38px;  background: url("../img/option_more.png") right center no-repeat;}
.the_title h4 span {padding-right: .6em; color:#cc0d13;}
/* end public*/

/* layout */
#header,#nav,#content{width:960px; margin:0 auto;}
#search,.section,.side_section,.side_ad,#footer{border:1px #dbdbdb solid; border-radius: 6px;}
.main_ad,.side,.side_section,.side_ad{margin-bottom: 10px;}

body{margin-bottom: 30px;}
#header{ height:30px;  border-radius:0 0 6px 6px;}
#nav{ height:100px;  position: relative; }
#search{width:958px; height:116px; margin:0 auto 10px; position: relative;}
#content{}
.main{width:710px; }
.main_wrap{padding-bottom: 10px;}
.section{width:318px;  padding:0 15px;   }
.option{width:350px; height:300px; position: relative; }
.main_ad{ overflow: hidden; border-radius: 6px;}
.side{}
.side_section{width: 238px; height: 200px;}
.side_ad{ overflow: hidden; }
#footer{width: 958px; height: 78px; margin:0 auto;}

.option .nav {position: relative; height: 34px;z-index: 2;}
.option .nav li{width:172px; height:33px; border: 1px #dbdbdb solid; position: relative;
    border-radius: 6px 6px 0 0; border-bottom: none; text-align: center; font:bold 13px/33px arial; }
.option .nav .active{width:172px; height: 34px; background: #fff; }
.option .con{width: 348px;  position: absolute; top: 34px; left:0; border: 1px #dbdbdb solid;  border-radius: 0 0 6px 6px; z-index: 1; }


#header .city{padding:4px 0 0 20px;}
#header .city ul{padding-left: 10px;}
#header .city a {padding: 0 5px; line-height: 18px; color:#888; height: 18px; box-shadow:1px 1px 0 #ededed;
    display: inline-block; border: 1px #dbdbdb solid; border-radius: 4px;}
#header .city a:hover{background: #ccc; }
#header .city .active,#header .city .active:hover {color: #a33; background: #fff;}
#header .link{line-height: 30px; padding-right: 20px; color:#aaa; word-spacing: 4px; }
#header .link p {}
#header .link a{color: #666; background:url(../img/header_img.gif)  no-repeat 0 3px; padding-left: 20px;}
#header .link .icon2{background-position: 0 -27px;}
#header .link a:hover{color:#333; }

#nav ul  {position: absolute; top:10px; }
#nav  li {float: left; background: url(../img/nav_items.png) no-repeat;}
#nav li a{color:#000;display: block; width:66px; text-align: center;  padding-top: 50px;}
#nav .item1{background-position:0 0 ;}
#nav .item2{background-position:-66px 0 ;}
#nav .item3{background-position:-132px 0 ;}
#nav .item4{background-position:-198px 0 ;}
#nav .item5{background-position:-264px 0 ;}
#nav .item6{background-position:-330px  0 ;}
#nav .item7{background-position:-396px  0 ;}
#nav .item8{background-position:-462px  0 ;}
#nav .item9{background-position:-528px  0 ;}
#nav .item10{background-position:-594px  0 ;}

#nav .item1:hover,#nav .item1 .active{background-position: 0 -80px;}
#nav .item2:hover{background-position: -66px  -80px;}
#nav .item3:hover{background-position: -132px -80px;}
#nav .item4:hover{background-position: -198px -80px;}
#nav .item5:hover{background-position: -264px -80px;}
#nav .item6:hover{background-position: -330px -80px;}
#nav .item7:hover{background-position: -396px -80px;}
#nav .item8:hover{background-position: -462px -80px;}
#nav .item9:hover{background-position: -528px -80px;}
#nav .item10:hover{background-position: -594px -80px;}


#nav .items1{left: 10px;}
#nav .items2 {right: 10px;}
#nav h1 {position: relative ; top:10px; width:223px; height: 62px; margin:0 auto; cursor: pointer; }

#search .search_memo {position: absolute; top:-3px; left:32px; z-index: 2;}

#search .search_bar {width:958px; height:64px;  position:  absolute; top:16px; left: -1px; border: 1px #c40d0e solid;
    border-radius: 5px; box-shadow: 3px 3px 2px #dcdcdc; background: #e21c01;}
#search .search_bar .menu {position: relative; left:226px; top:-27px; z-index: 1;}
#search .search_bar li {float: left; }
#search .search_bar a{display: inline-block;text-align: center; line-height: 25px; color: #000;
    width:78px; height:25px; border: 1px #f8d0bf solid; border-bottom: none; border-radius: 5px 5px 0 0; background:#fefefe; margin-right: 1px;    }
#search .search_bar .active ,#search .search_bar .active:hover{height: 27px;
    font-weight: bold; color: #fff; background: #e21c01; border-color: #c40d0e; text-shadow: 2px 2px 2px rgba(0,0,0,0.25);}
#search .search_bar a:hover {background: #fdd;}
#search .search_input{position: absolute; z-index:2; top:36px; left:226px; }
#search .search_input #search_box{width: 378px; height: 22px; border-radius: 6px; background: #fff1ef; padding: 0 12px 0;
    color:#ea7a7a; border: none;box-shadow: inset 2px 2px 3px rgba(0,0,0,0.25);}
#search .search_input #search_btn{width: 61px; height: 22px; background: #fff url("../img/search_img.png") no-repeat 4px 2px; text-align: right;
    border: none; margin-left: 10px; border-radius: 11px; box-shadow: 3px 3px 2px rgba(170,10,0,1);}
#search .search_input #search_btn:hover{background-color: #ea7a7a;}
#search .text{position: absolute; top:30px; right: 30px; width: 206px; height: 30px; color:#fff; line-height: 18px; }
#search .text a{color: #fff;}
#search .text a:hover{text-decoration: underline;}

#search .update{position: absolute; top:84px; left: 224px; width: 406px; height: 30px;background: url("../img/search_update.png") no-repeat 0 8px; }
#search  .wrap{position: relative; left: 60px; overflow: hidden;width: 350px; height: 30px;}
#search .wrap ul{width: 288px; top:-60px;position: relative;}
#search .wrap li{line-height: 30px; height: 30px;}
#search .wrap a{font-weight: normal; }
#search .wrap strong{color: #ca0309;}
#search .wrap span{color:gray;}
#search .triangle_up{top:10px; right: 0;}
#search .triangle_down_red{top:18px; right: 0;}


.m1 .section .title h2{ height: 42px; line-height: 42px; font-weight: 400; color: #ca0309; background: url("../img/video_icon.png") no-repeat 105px 10px; }
.m1 .section img{margin-bottom: 14px; }
.m1 .section ul{padding-left: 80px; background: url("../img/video_hot.png") no-repeat 2px 2px; height: 77px; }
.m1 .section li{line-height: 20px; height: 20px; text-indent:10px;  }

.option .nav li span {color: #666;}
.option .nav li.active span {color: #cc0d13; }
.option .nav li a{top:14px; right:16px;}

.option .con ul.list {margin-top: 15px; margin-bottom: 34px;}
.option .con li.gradient {margin: 6px 15px; border-radius: 5px;
-moz-linear-gradient(45deg, #fff,#f5f5f5); /* Firefox */
    background: -webkit-linear-gradient(45deg,#ffffff,#f5f5f5);   /* Chrome */
    background: -ms-linear-gradient(45deg,#ffffff,#f5f5f5);  /* IE10以上 */
    background:url("../img/option_hot.png") 275px 0 no-repeat , linear-gradient(45deg,#ffffff,#f5f5f5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)"; /* IE8.9 */
+background:#f5f5f5; /* hack 方法，IE6,7 纯色*/  }
.option .con img {margin-top: 10px;}
.option .con div{margin-left: 20px; margin-top: 17px;margin-bottom: 24px;}
.option .con div h4  a{font-size: 12px; color:#bb0d0d; }
.option .more {position: absolute; bottom: 10px; right: 15px;}
.option .con .subway{margin:30px 20px 20px; }

.m3 .fl  {background: url("../img/s1_bg.png") 15px 0 no-repeat ;}
.m3 .fl .header h3 ,.m3 .fr .header h3 {height:60px;  margin:10px 0 0 10px; font-size: 24px; line-height: .9em; font-weight: normal;}
.m3 .fl .header h3 span ,.m3 .fr .header h3 span {font-size: 13px; color:#ea2b31;  font-weight: 600;}
.m3 .fl .header p {margin: 20px 0 0 8px; font-size: 32px;font-weight: bold; color: #ec1c16;}

.m3 .fl .today_theme {margin:14px 8px; }
.m3 .fl .today_theme .icon{width: 84px; height: 84px; background: url("../img/m3_icon.png");  }
.m3 .fl  .con {margin-left: 10px; margin-top: 5px;}
.m3 .fl .con h4 {font-size:12px; }
.m3 .fl .con h4 span {margin-right: 5px;padding:4px; font-size: 14px; line-height: 20px;border: 1px #888 solid; border-radius: 3px;color: #ea2b31;}
.m3 .fl .con p {margin-top: 10px;color:#aaa;width: 200px;}


.m3 .fl .calendar {margin:15px 9px 24px 8px; ;}
.m3 .fl .calendar ol.week {background: linear-gradient(#f5f5f5, #fff); font-weight: 600;margin-right: 3px;height: 40px;}
.m3 .fl .calendar ol.week li  { float: left;width: 40px; margin-right: 3px;text-indent: 0; background: transparent; line-height: 40px; text-align: center;}
.m3 .fl .calendar ol.week li.last_li{margin-right: 0;color: red;}
.m3 .fl .calendar ol.date {}
.m3 .fl .calendar ol.date li{float: left; width: 40px; height: 40px; color: #666; font-weight: bold; text-indent: 0; text-align: center; line-height: 40px; margin:0 3px 3px 0 ;background: #ededed;}
.m3 .fl .calendar ol.date li.normal{background: #f8f8f8; color: #ccc;}

.m3 .fr .header {background: url("../img/m3_fr_header.png") 100px 8px no-repeat;}
.m3 .fr .header p {font-size: 40px; color: #ededed;line-height: 1em;margin: 20px 0 0 60px; }
.m3 .fr .images {background: #eee; border-radius: 4px; }
.m3 .fr .images img.fl {margin: 13px 0 0 13px ; }
.m3 .fr .images .fr {width: 60px; margin-right: 12px; margin-top: 13px;}
.m3 .fr .images .fr img{ width: 54px; height: 30px; border: 3px solid white;}
.m3 .fr .images .fr img.active {border-color: red; }
.m3 .fr .images p {margin: 10px 0 10px 13px;  }

.m3 .fr .list {margin: 22px 10px 13px 0 ;}
.m3 .fr .list li {padding-left : 32px;  line-height:27px;  background: url("../img/m3_fr_li_icon.png") 12px 8px no-repeat;}
.m3 .fr .list li.page {background-position: 12px -20px;}
.m3 .fr .list a {font-size: 12px; line-height: 10px; padding-left: 8px; border-left: 1px #ccc solid; }
.m3 .fr .list li span{float: right;font-size: 10px; color: gray; }

.m4 .fr ul {margin-bottom: 22px;}
.m4 .fr ul li {background: #f1f1f1; border-radius: 6px; margin-bottom: 3px; position: relative;}
.m4 .fr ul li.active {background: #ca0309; }
.m4 .fr ul li img {display: none;}
.m4 .fr ul li.active img {display: inline;margin: 10px; }
.m4 .fr ul li.active a {font-size: 14px; color:white;line-height: 3em;}
.m4 .fr ul li p {display: none;}
.m4 .fr ul li.active p {display: block;}
.m4 .fr ul li.active p.first_child {display: block; position: absolute; bottom: 16px; left:74px; color: white;}
.m4 .fr ul li.active p:last-child {display: block; position: absolute; right: 5px; bottom: -6px;font-size: 24px; font-weight: bold; color: white;}
.m4 .fr ul li a {font-size: 12px; line-height: 30px; color: #333;}
.m4 .fr ul li span.sequence{font-weight:bold; color: #aa3333; padding: 0 20px 0 8px; }
.m4 .fr ul li.active span.sequence{display: none; }
.m4 .fr ul li span.the_class {float: right;margin-right: 24px;}
.m4 .fr ul li.active span.the_class {display: none;}

.m6 .fl ul.option_list { border-bottom: 1px solid #dadada; width: 318px; height: 25px; position: relative;}
.m6 .fl ul.option_list li {position: relative; height: 24px; border: 1px solid #dadada; margin-left: -1px;
    text-align: center; color: #888; line-height: 25px;  border-bottom: none;border-radius: 5px 5px 0 0 ;width: 98px;}
.m6 .fl ul.option_list li a {top:10px; right: 10px;}
.m6 .fl ul.option_list li:first-child{margin-left: 11px;}
.m6 .fl ul.option_list li.active{ z-index: 2; height: 25px; background: #fff;}
.m6 .fl h5 {line-height: 28px; color: #666;}
.m6 .fl h5 span:first-child {margin-left:116px;  }
.m6 .fl h5 span:last-child { margin-left: 120px; }
.m6 .fl div.card ul {display: none;}
.m6 .fl div ul.active {display: block;}
.m6 .fl div ul.active li { line-height: 28px;border-top:1px dotted #888; background: url("../img/m6_splings.png") no-repeat; }
.m6 .fl div ul.active li.get {background-position: 285px 12px;}
.m6 .fl div ul.active li.point {background-position: 285px -10px;}
.m6 .fl div ul.active li:last-child { line-height: 28px;border-top:1px dotted #888;border-bottom: 1px dotted #888; }
.m6 .fl ul.active span.sort { padding:0 15px; background: url("../img/m6_splings.png") 4px -32px no-repeat; }
.m6 .fl ul.active span.sort span{color: #aa3333;}
.m6 .fl div.search_who {height: 53px; margin-bottom: 8px; }
.m6 .fl div.search_who p {line-height: 53px; display: inline-block; margin: 0  8px; }
.m6 .fl div.search_who input.input_box {width: 172px; height: 22px; outline: none; padding: 0 5px;line-height: 22px; color: #888; }
.m6 .fl div.search_who input.btn {border: 1px solid #c72524; background: linear-gradient(#fa6a01, #bc0c14 50%,#bc0c14);
    border-radius: 12px; width: 24px; height:24px; color: white; font-weight: bold;}
.m6 .fl div.search_who input.btn:hover {background: #fa6a01;}

.m6 .fr ul  { margin-bottom: 20px ;}
.m6 .fr ul li {float: left; margin: 0 2px 2px 0 ; position: relative;}
.m6 .fr ul li div.cover  {color: rgba(256,256,256,0); height: 100%;width: 100%; z-index: 1; position: absolute; background: transparent; top:0; left: 0 ; }
.m6 .fr ul li div.cover:hover  { color: #fff; background:rgba(0,0,0,0.4); text-align: center;  }

.m7 .fl h4 {background: none;}
.m7 .fl p {text-indent: 2em; margin: 15px 5px 10px;}
.m7 .fl .contact  li:first-child{padding-left:25px; background: url("../img/m7_contact_icon.png") 5px 2px no-repeat;color: #cb4444;font-size: 16px; font-weight: bold; }
.m7 .fl .contact li:last-child {margin-left: 36px; padding-left: 25px; line-height: 24px; background: url("../img/m7_contact_icon.png") 0 -38px no-repeat;}
.m7 .fl .line {margin: 10px 0;height: 1px; background: #ddd;}
.m7 .fl .help { margin: 18px 8px 30px; font-size: 14px;}
.m7 .fl .help ul li {font-size: 12px; padding-left: 12px; background: url("../img/m6_splings.png") 3px -33px no-repeat;}
.m7 .fl .help .user_help {margin-right: 66px;}


.m7 .fr ul  {margin-top: 16px; margin-bottom: 35px;}
.m7 .fr ul li  {margin-bottom: 10px;}
.m7 .fr ul li:hover  { text-decoration: underline;}
.m7 .fr ul li img {margin-right: 10px;}
